# hidden files
.*

# configuration files
/*.toml

# coverage file
/coverage.out

# certificates
/certs

# binaries
/dist
/build
/docs/public
*.ipk

# build folders
/packaging/vendor/*/*/package

# dependencies
/vendor

# certificates
/certs
