[Unit]
Description=LoRa Gateway Bridge
Documentation=https://www.loraserver.io/
Wants=network-online.target
After=network-online.target

[Service]
User=gatewaybridge
Group=gatewaybridge
ExecStart=/usr/bin/lora-gateway-bridge
Restart=on-failure

[Install]
WantedBy=multi-user.target
